@font-face {
  font-family: "Font";
  src: url("fonts/HelveticaNeueLTProLt.otf") format("otf"),
    url("fonts/HelveticaNeueLTProMd.otf") format("otf"),
    url("fonts/HelveticaNeueLTProRoman.otf") format("otf"),
    url("fonts/Merriweather-LightItalic.ttf") format("ttf"),
    url("fonts/Montserrat-Light.ttf") format("ttf"),
    url("fonts/Montserrat-Regular.ttf") format("ttf"),
    url("fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;

  font-display: swap;
}
